<a href="https://colab.research.google.com/github/hariskhan-hk/Pandas_PracQues/blob/main/LAB2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [150]:
import numpy as np
import pandas as pd

In [151]:
#QUESTION NO 02 - Create a Series and DataFrame using the following data.

covid = {
    'Location': ['United States', 'India', 'Brazil', 'Russia', 'United Kingdom',
                 'France', 'Spain', 'Italy', 'Turkey', 'Germany'],
    'Cases': [28833039, 11079979, 10517232, 4246079, 4170519,
              3736016, 3188553, 2907825, 2693164, 2444169],
    'Deaths': [517204, 156938, 254263, 86122, 122705,
               86332, 69142, 97507, 28503, 70601],
    'Recovered': ['No data', 10763451, 9386440, 3811797, 'No data',
                  'No data', 'No data', 2398352, 2565723, 2242767]
}

df = pd.DataFrame(covid)
df.replace('No data', np.nan, inplace=True)

cases_series = pd.Series(covid['Cases'], index=covid['Location'], name='Cases')
deaths_series = pd.Series(covid['Deaths'], index=covid['Location'], name='Deaths')
recovered_series = pd.Series(covid['Recovered'], index=covid['Location'], name='Recovered')

print("DataFrame:")
print(df)
print("\nSeries:")
print(cases_series)
print(deaths_series)
print(recovered_series)

DataFrame:
         Location     Cases  Deaths   Recovered
0   United States  28833039  517204         NaN
1           India  11079979  156938  10763451.0
2          Brazil  10517232  254263   9386440.0
3          Russia   4246079   86122   3811797.0
4  United Kingdom   4170519  122705         NaN
5          France   3736016   86332         NaN
6           Spain   3188553   69142         NaN
7           Italy   2907825   97507   2398352.0
8          Turkey   2693164   28503   2565723.0
9         Germany   2444169   70601   2242767.0

Series:
United States     28833039
India             11079979
Brazil            10517232
Russia             4246079
United Kingdom     4170519
France             3736016
Spain              3188553
Italy              2907825
Turkey             2693164
Germany            2444169
Name: Cases, dtype: int64
United States     517204
India             156938
Brazil            254263
Russia             86122
United Kingdom    122705
France             86332
Spain              69142
Italy              97507
Turkey             28503
Germany            70601
Name: Deaths, dtype: int64
United States      No data
India             10763451
Brazil             9386440
Russia             3811797
United Kingdom     No data
France             No data
Spain              No data
Italy              2398352
Turkey             2565723
Germany            2242767
Name: Recovered, dtype: object

In [152]:
#QUESTION NO 03 - Create a new column (Status) in Qs 2 Dataframe. Analyze the “Cases” column, in case of less than
# 3 million cases set the Status to low. In case of greater than 3 million and less than 4 million cases
# Status is medium, otherwise high.

def determine_status(Cases):
  if Cases < 3000000:
    return 'low'
  elif 3000000 <= Cases < 4000000:
    return 'medium'
  else:
    return 'high'

df['Status'] = df.Cases.apply(determine_status)
print(df)

         Location     Cases  Deaths   Recovered  Status
0   United States  28833039  517204         NaN    high
1           India  11079979  156938  10763451.0    high
2          Brazil  10517232  254263   9386440.0    high
3          Russia   4246079   86122   3811797.0    high
4  United Kingdom   4170519  122705         NaN    high
5          France   3736016   86332         NaN  medium
6           Spain   3188553   69142         NaN  medium
7           Italy   2907825   97507   2398352.0     low
8          Turkey   2693164   28503   2565723.0     low
9         Germany   2444169   70601   2242767.0     low

In [153]:
#QUESTION NO 04 - Rank the created Series and DataFrame in ascending order of deaths count.

# Sorting the Series by Deaths in ascending order
sorted_deaths_series = deaths_series.rank(ascending= True, method = 'max')
print("Sorted Series by Deaths:", sorted_deaths_series)

# Sorting the DataFrame by Deaths in ascending order

df2 = df
df2['Death Ranks'] = df['Deaths'].rank(ascending = True, method = 'max')
print("\nSorted Dataframe by Deaths:")
print(df2)

Sorted Series by Deaths: United States     10.0
India              8.0
Brazil             9.0
Russia             4.0
United Kingdom     7.0
France             5.0
Spain              2.0
Italy              6.0
Turkey             1.0
Germany            3.0
Name: Deaths, dtype: float64

Sorted Dataframe by Deaths:
         Location     Cases  Deaths   Recovered  Status  Death Ranks
0   United States  28833039  517204         NaN    high         10.0
1           India  11079979  156938  10763451.0    high          8.0
2          Brazil  10517232  254263   9386440.0    high          9.0
3          Russia   4246079   86122   3811797.0    high          4.0
4  United Kingdom   4170519  122705         NaN    high          7.0
5          France   3736016   86332         NaN  medium          5.0
6           Spain   3188553   69142         NaN  medium          2.0
7           Italy   2907825   97507   2398352.0     low          6.0
8          Turkey   2693164   28503   2565723.0     low          1.0
9         Germany   2444169   70601   2242767.0     low          3.0

In [154]:
#QUESTION NO 05 - Compute the statistics of the created Series and DataFrame by using Table 2.10 functions.

# Descriptive statistics for DataFrame
print("Descriptive statistics of the DataFrame:")
print(df.describe())

# Descriptive statistics for Series
print("\nDescriptive statistics of the Series:")
print("Cases:", cases_series.describe())
print("\nDeaths:", deaths_series.describe())
print("\nRecovered:", recovered_series.describe())

Descriptive statistics of the DataFrame:
              Cases         Deaths     Recovered  Death Ranks
count  1.000000e+01      10.000000  6.000000e+00     10.00000
mean   7.381658e+06  148931.700000  5.194755e+06      5.50000
std    8.172197e+06  143366.103826  3.845493e+06      3.02765
min    2.444169e+06   28503.000000  2.242767e+06      1.00000
25%    2.978007e+06   74481.250000  2.440195e+06      3.25000
50%    3.953268e+06   91919.500000  3.188760e+06      5.50000
75%    8.949444e+06  148379.750000  7.992779e+06      7.75000
max    2.883304e+07  517204.000000  1.076345e+07     10.00000

Descriptive statistics of the Series:
Cases: count    1.000000e+01
mean     7.381658e+06
std      8.172197e+06
min      2.444169e+06
25%      2.978007e+06
50%      3.953268e+06
75%      8.949444e+06
max      2.883304e+07
Name: Cases, dtype: float64

Deaths: count        10.000000
mean     148931.700000
std      143366.103826
min       28503.000000
25%       74481.250000
50%       91919.500000
75%      148379.750000
max      517204.000000
Name: Deaths, dtype: float64

Recovered: count          10
unique          7
top       No data
freq            4
Name: Recovered, dtype: object

In [156]:
#QUESTION NO 06 - Fill the missing data of Table 2.14 with the mean and median value of a Series by using fillna function.

fill_mean = recovered_series.mean()
fill_median = recovered_series.median()

df3 = recovered_series.fillna(fill_mean)
df3 = df.fillna(fill_median)

TypeError: can only concatenate str (not "int") to str