<a href="https://colab.research.google.com/github/hariskhan-hk/Pandas_PracQues/blob/main/LAB2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [13]:
#QUESTION 02 - Create a Series and DataFrame using the following data.

covid = {
    'Location': ['United States', 'India', 'Brazil', 'Russia', 'United Kingdom',
                 'France', 'Spain', 'Italy', 'Turkey', 'Germany'],
    'Cases': [28833039, 11079979, 10517232, 4246079, 4170519,
              3736016, 3188553, 2907825, 2693164, 2444169],
    'Deaths': [517204, 156938, 254263, 86122, 122705,
               86332, 69142, 97507, 28503, 70601],
    'Recovered': ['No data', 10763451, 9386440, 3811797, 'No data',
                  'No data', 'No data', 2398352, 2565723, 2242767]
}

df = pd.DataFrame(covid)
df.replace('No data', pd.NA, inplace=True)

cases_series = pd.Series(covid['Cases'], index=covid['Location'], name='Cases')
deaths_series = pd.Series(covid['Deaths'], index=covid['Location'], name='Deaths')
recovered_series = pd.Series(covid['Recovered'], index=covid['Location'], name='Recovered')

print("DataFrame:", df)
print("\nSeries:")

print(cases_series)
print(deaths_series)
print(recovered_series)

DataFrame:          Location     Cases  Deaths Recovered
0   United States  28833039  517204      <NA>
1           India  11079979  156938  10763451
2          Brazil  10517232  254263   9386440
3          Russia   4246079   86122   3811797
4  United Kingdom   4170519  122705      <NA>
5          France   3736016   86332      <NA>
6           Spain   3188553   69142      <NA>
7           Italy   2907825   97507   2398352
8          Turkey   2693164   28503   2565723
9         Germany   2444169   70601   2242767

Series:
United States     28833039
India             11079979
Brazil            10517232
Russia             4246079
United Kingdom     4170519
France             3736016
Spain              3188553
Italy              2907825
Turkey             2693164
Germany            2444169
Name: Cases, dtype: int64
United States     517204
India             156938
Brazil            254263
Russia             86122
United Kingdom    122705
France             86332
Spain              69142
Italy              97507
Turkey             28503
Germany            70601
Name: Deaths, dtype: int64
United States      No data
India             10763451
Brazil             9386440
Russia             3811797
United Kingdom     No data
France             No data
Spain              No data
Italy              2398352
Turkey             2565723
Germany            2242767
Name: Recovered, dtype: object

In [21]:
#QUESTION 03 - Create a new column (Status) in Qs 2 Dataframe. Analyze the “Cases” column, in case of less than
# 3 million cases set the Status to low. In case of greater than 3 million and less than 4 million cases
# Status is medium, otherwise high.

def determine_status(Cases):
  if Cases < 3000000:
    return 'low'
  elif 3000000 <= Cases < 4000000:
    return 'medium'
  else:
    return 'high'

df['Status'] = df.Cases.apply(determine_status)
print(df)

         Location     Cases  Deaths Recovered  Status
0   United States  28833039  517204      <NA>    high
1           India  11079979  156938  10763451    high
2          Brazil  10517232  254263   9386440    high
3          Russia   4246079   86122   3811797    high
4  United Kingdom   4170519  122705      <NA>    high
5          France   3736016   86332      <NA>  medium
6           Spain   3188553   69142      <NA>  medium
7           Italy   2907825   97507   2398352     low
8          Turkey   2693164   28503   2565723     low
9         Germany   2444169   70601   2242767     low

In [22]:
#QUESTION 04 - Rank the created Series and DataFrame in ascending order of deaths count.